<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Daily Goal</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="target-list">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <input v-model="newItem" type="text" placeholder="Add daily goal">
        <ul>
            <li v-for="item in items">{{ item }}</li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
        var targetList = new Vue({
            el: '#target-list',
            data: {
                header: 'Daily goal list',
                newItem: '',
                items: [
                    'Belajar vue js fundamental',
                    'Belajar vue js master class',
                    'Nyicil laporan',
                ]
            }
        });
    </script>
</body>

</html>